<div id="<%= dom_id document %>">
  <p>
    <strong>Description_12312313123:</strong>
    <%= document.description %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= document.title %>
  </p>

</div>
