<% content_for :sub_title do %>
  Новый документ
<% end %>

<%= render "form", document: @document %>

<br>

<div>
  <%= link_to "Back to documents", documents_path, :class => "btn btn-primary btn-sm" %>
</div>
