
.navbar {
  margin-bottom: 0;
  background: black;
}

.navbar-nav {
  .nav-link, .nav-link.disabled {
    border: $urfu-light-blue solid 1px;
    border-radius: 30px;
    margin: 0 5px 0 5px;
    color: $urfu-light-blue;
    padding-left: 7px; // для отступа в мобилке
  }
  .nav-link.active {
    color: $urfu-blue !important;
    border-color: $urfu-blue;
  }
}

