<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a id="index" class="nav-link" href=<%= documents_path %>>Все документы</a>
        </li>
        <li class="nav-item">
          <a id="new" class="nav-link" href=<%= new_document_path %>>Создать документ</a>
        </li>
        <li class="nav-item">
          <a id="archive_index" class="nav-link" href=<%= archive_index_path %>>Архив</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script>
  var element = document.getElementById("<%= controller.action_name %>");
  element.classList.add("active")
  element.setAttribute("aria-current", "page")
</script>
